@impoet "variables";
.education-content {
    // border: 1px solid #000;
    .card-content {
        border: 2px solid rgba(0, 0, 0, .3);
        border-radius: 5px;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
        padding: 1rem 1rem;
        display: flex;
        justify-content: space-between;
        .img-box {
            display: flex;
            justify-content: center;
            align-items: center;
            // background-color: #ccc;
            margin-right: 1rem;
            padding: .5rem;
            img {
                min-width: 175px;
                max-height: 175px;
            }
        }
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            padding: 1rem;
            border-left: 5px solid $color-blue;
            h2 {
                color: $color-blue;
            }
            h4 {
                color: rgba(0, 0, 0, .8);
            }
            p {
                text-align: right;
                line-height: 1.6;
            }
        }
    }
}

@media screen and (max-width: 824px) {
    .education-content {
        .card-content {
            flex-direction: column;
            .info {
                border-left: none;
                border-top: 5px solid $color-blue;
                align-items: center;
                h2 {
                    margin-bottom: .5rem;
                    text-align: center;
                }
                h4 {
                    margin-bottom: .5rem;
                    text-align: center;
                }
                p {
                    text-align: center;
                }
            }
        }
    }
}