@import "variables";

.experience-content{
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 0 auto;

	.content-box{
		margin: .5rem 0;
		padding: .5rem;

		h2{
			color: $color-blue;
			margin-bottom: .5rem;
		}

		p{
			line-height: 1.6;
		}
		.imp{
			font-size: 18px;
		}
	}
}